/* Feel free to remove these styles or customise in your own stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 95%); 
}

/* TEXT */ 

p{ 
  color: hsla(0, 0%, 100%, 0.75); 
}

h2, button {  
  color: hsl(0, 0%, 95%); 
}

h2 {
  font-size: 40px;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700; 
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 25px;
}

p, button {
  font-family: 'Lexend Deca', sans-serif; 
  font-size: 15px; 
  font-weight: normal; 
  line-height: 1.7;
}

p {
  margin-top: 0;
}

section p {
  height: 170px;
}

/* ELEMENTS */ 
.container {
  display: flex;
  height: 53.5%;
  max-width: 1000px;
  margin: auto;
  padding-top: 10%;
}

section {
  padding: 48px;
}


.first {
  background-color: hsl(31, 77%, 52%); 
  border-radius: 10px 0 0 10px;
}


.second {
  background-color: hsl(184, 100%, 22%);  
}

.third {
  background-color: hsl(179, 100%, 13%); 
  border-radius: 0 10px 10px 0;
}

button {
  background-color: hsl(0, 0%, 95%); 
  border-radius: 40px; 
  height: 50px;
  width: 147px; 
  /*margin-top: 5%;*/
  border: 0;
  font-weight: 700
}

button:hover {
  cursor: pointer;
}


/* BUTTON COLOURS */ 
.first button {
  color: hsl(31, 77%, 52%); 
}

.second button {
  color: hsl(184, 100%, 22%);  
}

.third button {
  color: hsl(179, 100%, 13%); 
}

button:active {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.first button:active {
  background-color: hsl(31, 77%, 52%); 
}

.second button:active {
  background-color: hsl(184, 100%, 22%);  
}

.third button:active {
  background-color: hsl(179, 100%, 13%); 
}



/* FOOTER - default style */

.attribution a, .attribution p { 
  font-size: 11px; 
  text-align: center; 
  color: black;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}


/* RWD */ 
@media only screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 90%;
    padding-top: 0;
  }

  .first {
    border-radius: 10px 10px 0 0;
  }

  .third {
    border-radius: 0 0 10px 10px;
  }

  button {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  button {
    margin-top: 40px;
  }

}


@media only screen and (min-width: 425px) and (max-width: 1000px) {
  .container {
    height: 60%;
  }


}


@media only screen and (min-width: 380px) and (max-width: 425px) {
  p {
    margin-bottom: 0;
  }


}


@media only screen and (min-width: 380px) and (max-width: 730px) {
  section p {
    height: 200px; 
  }

  button {
    width: 120px;
  }
}



@media only screen and (min-width: 380px) and (max-width: 650px) {
  button {
    width: 100px;
  }
}


@media only screen and (min-width: 426px) and (max-width: 660px) {
  section p {
    height: 220px; 
  }
}

@media only screen and (min-width: 426px) and (max-width: 615px) {
  section p {
    height: 250px; 
  }
}

