/* Feel free to remove these styles or customise in your own stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-color: hsl(0, 0%, 95%); 
}

p{ 
  color: hsla(0, 0%, 100%, 0.75); 
}

h2, button {
  color: hsl(0, 0%, 95%); 
}

h2 {
  /* font-size: ???? */ 
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700; 
}

p, button {
  font-family: 'Lexend Deca', sans-serif; 
  font-size: 15px; 
  font-weight: 400; 
}

.container {
  display: flex;
  height: 60vh;
}

.first, .first button {
  background-color: hsl(31, 77%, 52%); 
}


.second, .second button {
  background-color: hsl(184, 100%, 22%);  
}

.third, .third button {
  background-color: hsl(179, 100%, 13%); 
}

/* footer - default style */
footer {
}

.attribution a, .attribution p { 
  font-size: 11px; 
  text-align: center; 
  color: black;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}




/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/ 